In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dateutil
%matplotlib inline

In [2]:
#reading file
df = pd.read_excel("Untitled spreadsheet.xlsx")

In [4]:
df.columns

Index(['CCMS ID', 'SL ID', 'Current', 'Voltage', 'Resistance', 'Power'], dtype='object')

In [5]:
df.columns = ['ccms','slid','current','voltage','resistance','power']

In [6]:
df.describe()

           slid    current    voltage  resistance       power
count  13.00000  13.000000  13.000000   13.000000   13.000000
mean    7.00000   2.153846   3.769231    4.173077    8.615385
std     3.89444   0.554700   6.379052    0.624038   27.457660
min     1.00000   2.000000   2.000000    4.000000    1.000000
25%     4.00000   2.000000   2.000000    4.000000    1.000000
50%     7.00000   2.000000   2.000000    4.000000    1.000000
75%    10.00000   2.000000   2.000000    4.000000    1.000000
max    13.00000   4.000000  25.000000    6.250000  100.000000

In [19]:
df

   ccms  slid  current  voltage  resistance  power
0     a     1        2        2        4.00      1
1     a     2        4       25        6.25    100
2     a     3        2        2        4.00      1
3     a     4        2        2        4.00      1
4     a     5        2        2        4.00      1
5     a     6        2        2        4.00      1
6     a     7        2        2        4.00      1
7     a     8        2        2        4.00      1
8     a     9        2        2        4.00      1
9     a    10        2        2        4.00      1
10    a    11        2        2        4.00      1
11    a    12        2        2        4.00      1
12    a    13        2        2        4.00      1

In [20]:
ccms_fault =[]
slid_fault = []
for index,row in df.iterrows():
    if row.power >= (df.power.mean()+df.power.std()) or row.power <= (df.power.mean()-df.power.std()):
        ccms_fault.append(row.ccms)
        slid_fault.append(row.slid)