# Analysis :

## Imports

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dateutil
%matplotlib inline

# Keras imports

In [2]:
from sklearn.metrics import confusion_matrix, precision_score
from sklearn.model_selection import train_test_split
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.regularizers import l2
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from keras.models import load_model

Using TensorFlow backend.

## Data loading

In [3]:
#reading file
df = pd.read_excel("Load Survey Data (6).xlsx")

## Data PreProcessing and cleaning

In [4]:
#converting timestamp oject to datetime object
df['Timestamp'] = pd.to_datetime(df.Timestamp)

#list of columns to drop
drop_columns = ['Vr (Volt)','Vy (Volt)','Vb (Volt)','Ir (Amp)','Iy (Amp)','Ib (Amp)','Freq (Hz)']

#dropped columns dataframe
df = df.drop(drop_columns,axis=1)

#changing column names
df.columns = ['CCMS','timestamp','kwh','kvah','pf_total','total_load']
df['time_hour'] = df.timestamp.apply(lambda x: x.hour)

In [5]:
df.columns

Index(['CCMS', 'timestamp', 'kwh', 'kvah', 'pf_total', 'total_load',
       'time_hour'],
      dtype='object')

In [6]:
df.dtypes

CCMS                  object
timestamp     datetime64[ns]
kwh                  float64
kvah                 float64
pf_total              object
total_load           float64
time_hour              int64
dtype: object

In [7]:
df.head()

,CCMS,timestamp,kwh,kvah,pf_total,total_load,time_hour
0,SMR03-0219-0252,2019-05-01 23:00:00,2.732,2.752,0.955 Ld,5.17,23
1,SMR03-0219-0252,2019-05-01 22:00:00,5.108,5.143,0.987 Ld,5.17,22
2,SMR03-0219-0252,2019-05-01 21:00:00,5.120,5.156,0.987 Ld,5.17,21
3,SMR03-0219-0252,2019-05-01 20:00:00,4.985,5.025,0.985 Ld,5.17,20
4,SMR03-0219-0252,2019-05-01 19:00:00,0.372,0.375,0.87 Lag,5.17,19

## Basic data description

In [8]:
df.describe()

              kwh        kvah    total_load   time_hour
count  742.000000  742.000000  7.420000e+02  742.000000
mean     2.139387    2.153534  5.170000e+00   11.505391
std      2.296270    2.311301  4.799399e-14    6.935356
min      0.000000    0.000000  5.170000e+00    0.000000
25%      0.000000    0.000000  5.170000e+00    5.250000
50%      0.480000    0.484000  5.170000e+00   12.000000
75%      4.493000    4.520000  5.170000e+00   17.750000
max      5.453000    5.489000  5.170000e+00   23.000000

In [9]:
print(df)

                CCMS           timestamp    kwh   kvah    pf_total  \
0    SMR03-0219-0252 2019-05-01 23:00:00  2.732  2.752   0.955  Ld
1    SMR03-0219-0252 2019-05-01 22:00:00  5.108  5.143   0.987  Ld
2    SMR03-0219-0252 2019-05-01 21:00:00  5.120  5.156   0.987  Ld
3    SMR03-0219-0252 2019-05-01 20:00:00  4.985  5.025   0.985  Ld
4    SMR03-0219-0252 2019-05-01 19:00:00  0.372  0.375   0.87  Lag
5    SMR03-0219-0252 2019-05-01 18:00:00  0.000  0.000          --
6    SMR03-0219-0252 2019-05-01 17:00:00  0.000  0.000          --
7    SMR03-0219-0252 2019-05-01 16:00:00  0.000  0.000          --
8    SMR03-0219-0252 2019-05-01 15:00:00  0.000  0.000          --
9    SMR03-0219-0252 2019-05-01 14:00:00  0.000  0.000          --
10   SMR03-0219-0252 2019-05-01 13:00:00  0.000  0.000          --
11   SMR03-0219-0252 2019-05-01 12:00:00  0.000  0.000          --
12   SMR03-0219-0252 2019-05-01 11:00:00  0.000  0.000          --
13   SMR03-0219-0252 2019-05-01 10:00:00  0.000  0.000          --
14   SMR03-0219-0252 2019-05-01 09:00:00  0.000  0.000          --
15   SMR03-0219-0252 2019-05-01 08:00:00  0.000  0.000          --
16   SMR03-0219-0252 2019-05-01 07:00:00  0.000  0.000          --
17   SMR03-0219-0252 2019-05-01 06:00:00  3.355  3.387   0.387  Ld
18   SMR03-0219-0252 2019-05-01 05:00:00  5.052  5.095   0.981  Ld
19   SMR03-0219-0252 2019-05-01 04:00:00  5.156  5.194   0.981  Ld
20   SMR03-0219-0252 2019-05-01 03:00:00  5.146  5.183   0.986  Ld
21   SMR03-0219-0252 2019-05-01 02:00:00  5.149  5.185   0.986  Ld
22   SMR03-0219-0252 2019-05-01 01:00:00  3.218  3.240   0.937  Ld
23   SMR03-0219-0252 2019-05-01 00:00:00  4.783  4.816   0.937  Ld
24   SMR03-0219-0252 2019-04-30 23:00:00  2.867  2.887   0.986  Ld
25   SMR03-0219-0252 2019-04-30 22:00:00  5.231  5.268   0.986  Ld
26   SMR03-0219-0252 2019-04-30 21:00:00  5.225  5.261   0.985  Ld
27   SMR03-0219-0252 2019-04-30 20:00:00  5.072  5.115   0.985  Ld
28   SMR03-0219-0252 2019-04-30 19:00:00  0.430  0.433  0.849  Lag
29   SMR03-0219-0252 2019-04-30 18:00:00  0.000  0.000          --
..               ...                 ...    ...    ...         ...
712  SMR03-0219-0252 2019-04-02 05:00:00  5.098  5.136   0.987  Ld
713  SMR03-0219-0252 2019-04-02 04:00:00  5.200  5.236   0.987  Ld
714  SMR03-0219-0252 2019-04-02 03:00:00  5.187  5.221   0.987  Ld
715  SMR03-0219-0252 2019-04-02 02:00:00  5.202  5.236   0.987  Ld
716  SMR03-0219-0252 2019-04-02 01:00:00  5.204  5.238   0.987  Ld
717  SMR03-0219-0252 2019-04-02 00:00:00  5.219  5.251   0.988  Ld
718  SMR03-0219-0252 2019-04-01 23:00:00  5.186  5.218   0.987  Ld
719  SMR03-0219-0252 2019-04-01 22:00:00  5.173  5.207   0.987  Ld
720  SMR03-0219-0252 2019-04-01 21:00:00  5.172  5.206   0.987  Ld
721  SMR03-0219-0252 2019-04-01 20:00:00  5.169  5.202   0.987  Ld
722  SMR03-0219-0252 2019-04-01 19:00:00  1.843  1.855   0.34  Lag
723  SMR03-0219-0252 2019-04-01 18:00:00  0.000  0.000          --
724  SMR03-0219-0252 2019-04-01 17:00:00  0.000  0.000          --
725  SMR03-0219-0252 2019-04-01 16:00:00  0.000  0.000          --
726  SMR03-0219-0252 2019-04-01 15:00:00  0.000  0.000          --
727  SMR03-0219-0252 2019-04-01 14:00:00  0.000  0.000          --
728  SMR03-0219-0252 2019-04-01 13:00:00  0.000  0.000          --
729  SMR03-0219-0252 2019-04-01 12:00:00  0.000  0.000          --
730  SMR03-0219-0252 2019-04-01 11:00:00  0.000  0.000          --
731  SMR03-0219-0252 2019-04-01 10:00:00  0.000  0.000          --
732  SMR03-0219-0252 2019-04-01 09:00:00  0.000  0.000          --
733  SMR03-0219-0252 2019-04-01 08:00:00  0.000  0.000          --
734  SMR03-0219-0252 2019-04-01 07:00:00  0.955  0.963  0.527  Lag
735  SMR03-0219-0252 2019-04-01 06:00:00  5.101  5.134   0.987  Ld
736  SMR03-0219-0252 2019-04-01 05:00:00  5.143  5.178   0.987  Ld
737  SMR03-0219-0252 2019-04-01 04:00:00  5.141  5.175   0.987  Ld
738  SMR03-0219-0252 2019-04-01 03:00:00  5.142  5.176   0.987  Ld
739  SMR03-0219-0252 2019-04-01 02:00:00  5.089  5.124   0.986  Ld
740  SMR03-0219-0252 2019-04-01 01:00:00  5.024  5.060   0.987  Ld
741  SMR03-0219-0252 2019-04-01 00:00:00  5.028  5.062   0.987  Ld

     total_load  time_hour
0          5.17         23
1          5.17         22
2          5.17         21
3          5.17         20
4          5.17         19
5          5.17         18
6          5.17         17
7          5.17         16
8          5.17         15
9          5.17         14
10         5.17         13
11         5.17         12
12         5.17         11
13         5.17         10
14         5.17          9
15         5.17          8
16         5.17          7
17         5.17          6
18         5.17          5
19         5.17          4
20         5.17          3
21         5.17          2
22         5.17          1
23         5.17          0
24         5.17         23
25         5.17         22
26         5.17         21
27         5.17         20
28         5.17         19
29         5.17         18
..          ...        ...
712        5.17          5
713        5.17          4
714        5.17          3
715        5.17          2
716        5.17          1
717        5.17          0
718        5.17         23
719        5.17         22
720        5.17         21
721        5.17         20
722        5.17         19
723        5.17         18
724        5.17         17
725        5.17         16
726        5.17         15
727        5.17         14
728        5.17         13
729        5.17         12
730        5.17         11
731        5.17         10
732        5.17          9
733        5.17          8
734        5.17          7
735        5.17          6
736        5.17          5
737        5.17          4
738        5.17          3
739        5.17          2
740        5.17          1
741        5.17          0

[742 rows x 7 columns]

## Zero and non-zero dataframe

### Dataframe with off-time values (excluding faulty values)

In [10]:
off_time_df = df[df.time_hour >= 8]
off_time_df = off_time_df[off_time_df.time_hour <= 17]
off_time_df.describe()

         kwh   kvah    total_load   time_hour
count  308.0  308.0  3.080000e+02  308.000000
mean     0.0    0.0  5.170000e+00   12.519481
std      0.0    0.0  1.423398e-14    2.875757
min      0.0    0.0  5.170000e+00    8.000000
25%      0.0    0.0  5.170000e+00   10.000000
50%      0.0    0.0  5.170000e+00   13.000000
75%      0.0    0.0  5.170000e+00   15.000000
max      0.0    0.0  5.170000e+00   17.000000

### Dataframe with non-zero values (including faulty values)

In [11]:
on_time_df = df[(df.time_hour >= 18) | (df.time_hour <= 7)]
on_time_df.head()

,CCMS,timestamp,kwh,kvah,pf_total,total_load,time_hour
0,SMR03-0219-0252,2019-05-01 23:00:00,2.732,2.752,0.955 Ld,5.17,23
1,SMR03-0219-0252,2019-05-01 22:00:00,5.108,5.143,0.987 Ld,5.17,22
2,SMR03-0219-0252,2019-05-01 21:00:00,5.120,5.156,0.987 Ld,5.17,21
3,SMR03-0219-0252,2019-05-01 20:00:00,4.985,5.025,0.985 Ld,5.17,20
4,SMR03-0219-0252,2019-05-01 19:00:00,0.372,0.375,0.87 Lag,5.17,19

## Multiple analysis (sub analysis)
- time period when the street lights are off (plot using bar chart)
- random fluctuations of streetlights due to various reason like powercut etc (plot using scatter plot)
- streetlights pulling load lesser than the mean threshhold value (average KW/hr consumption +- std deviation)

### time period when lights where off

In [12]:
faulty_values = on_time_df[(on_time_df.kwh == 0) & (on_time_df.time_hour != 18) & (on_time_df.time_hour != 7)]
faulty_values

,CCMS,timestamp,kwh,kvah,pf_total,total_load,time_hour
355,SMR03-0219-0252,2019-04-17 02:00:00,0.0,0.0,--,5.17,2
356,SMR03-0219-0252,2019-04-17 01:00:00,0.0,0.0,--,5.17,1
379,SMR03-0219-0252,2019-04-16 02:00:00,0.0,0.0,--,5.17,2

In [13]:
faulty_timestamp = []
faulty_index = []
for index,row in on_time_df.iterrows():
    if row.kwh <= on_time_df.kwh.mean() - on_time_df.kwh.std() and row.kwh != 0:
        faulty_index.append(index)

In [14]:
for i in faulty_index:
    if df.iloc[i-1].kwh != 0 and df.iloc[i+1].kwh != 0:
        faulty_timestamp.append(df.iloc[i].timestamp)

In [15]:
i = 0
for index,row in df.iterrows():
    if row.timestamp == faulty_timestamp[i]:
        print(row)
        i = i + 1
        if i== len(faulty_timestamp):
            break

CCMS              SMR03-0219-0252
timestamp     2019-04-27 19:00:00
kwh                         0.561
kvah                        0.565
pf_total               0.795  Lag
total_load                   5.17
time_hour                      19
Name: 100, dtype: object
CCMS              SMR03-0219-0252
timestamp     2019-04-15 00:00:00
kwh                          0.13
kvah                         0.13
pf_total                0.786  Ld
total_load                   5.17
time_hour                       0
Name: 405, dtype: object
CCMS              SMR03-0219-0252
timestamp     2019-04-14 23:00:00
kwh                         0.819
kvah                        0.824
pf_total                0.988  Ld
total_load                   5.17
time_hour                      23
Name: 406, dtype: object

# model

In [17]:
model = load_model('sl_classifier.h5')
df_array = on_time_df.kwh

In [18]:
df_array = np.array(df_array)
predicted_values = model.predict(df_array)

In [19]:
on_time_classified = on_time_df.reset_index()

In [20]:
on_time_classified['predicted_values'] = predicted_values

In [23]:
on_time_classified.head(10)

,index,CCMS,timestamp,kwh,kvah,pf_total,total_load,time_hour,predicted_values
0,0,SMR03-0219-0252,2019-05-01 23:00:00,2.732,2.752,0.955 Ld,5.17,23,0.520734
1,1,SMR03-0219-0252,2019-05-01 22:00:00,5.108,5.143,0.987 Ld,5.17,22,0.999981
2,2,SMR03-0219-0252,2019-05-01 21:00:00,5.120,5.156,0.987 Ld,5.17,21,0.999982
3,3,SMR03-0219-0252,2019-05-01 20:00:00,4.985,5.025,0.985 Ld,5.17,20,0.999972
4,4,SMR03-0219-0252,2019-05-01 19:00:00,0.372,0.375,0.87 Lag,5.17,19,0.002439
5,5,SMR03-0219-0252,2019-05-01 18:00:00,0.000,0.000,--,5.17,18,0.002296
6,16,SMR03-0219-0252,2019-05-01 07:00:00,0.000,0.000,--,5.17,7,0.002296
7,17,SMR03-0219-0252,2019-05-01 06:00:00,3.355,3.387,0.387 Ld,5.17,6,0.993839
8,18,SMR03-0219-0252,2019-05-01 05:00:00,5.052,5.095,0.981 Ld,5.17,5,0.999978
9,19,SMR03-0219-0252,2019-05-01 04:00:00,5.156,5.194,0.981 Ld,5.17,4,0.999984